<%= stylesheet_link_tag    "birdses/application", :media => "all" %>

<div id='birdses_pages_nav'>
  <ul>
    <% unless index? %>
      <li>
        <%= link_to 'Wiki Home', root_url %>
      </li>
    <% end %>
    <li>
      <%= link_to_unless_current 'New Page', new_page_path %>
    </li>
    <% unless index? || new? || edit? %>
      <li>
        <%= link_to 'Edit', controller: 'pages', action: :edit,
                            id: @page.name %>
      </li>
      <li>
        <%= link_to 'Destroy', "#{pages_path}/#{@page.name}", method: :delete,
                                confirm: "Are you sure?" %>
      </li>
    <% end %>
  </ul>
</div>
